*{
    font-family: 'Roboto';
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.button{
    width: 100px;
    aspect-ratio: 1.5;
    background-color: rgb(221, 220, 220);
    color: black;
    margin-top: 10px;
    box-sizing: border-box;
    border-radius: 6px;
}
.buttons{
    display: flex;
    flex-wrap: wrap;
    width: 540px;
    height: 200px;
    justify-content: space-between;
}
.display{
    width: 540px;
    height: 100px;
    background-color: rgb(201, 217, 203);
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    font-size: 30px;
    border-radius: 6px;
}